body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.footer {
    background-color: #5e8b7e;
    color: black; 
   padding: 2rem 1rem; /* Adds padding to the top and bottom */ 
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0;
    margin-top: 2rem;
}
.footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 400px;
    margin-right: 5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding: 0; /* Adds padding to the left and right */
}

.footer-newsletter h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.2rem;
    color: #2d2d2d;
    text-align: left;
    width: 100%;
  
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.footer-form input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 400px;
    margin-right: 1rem; 
    flex-shrink: 0;
}

.footer-form button {
    padding: 0.75rem 1rem;
    font-weight: bold;
    background-color: #d35400;
    color: white;
    border: 1px solid #d35400;
    border-radius: 8px;
    flex-shrink: 0;

}

.footer-form button:hover {
    background-color: #b65f45;
    
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start; 
    text-align: left;
    gap: 15rem;
    padding: 0; 
    margin-right: 10rem;
    
}


.footer-links h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 4rem; 
    color: #2d2d2d;
    
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.footer-links a {
    text-decoration: none; 
    color: #2d2d2d;
}

.footer-links a:hover {
    text-decoration: underline;
}


.footer-logo {
    margin-top: 5rem; 
    border-top: 2.3px solid #a67c68; 
    padding-top: 1rem;  
    max-width: 1200px;
    margin: 2rem auto; /* Adds aditional space above the border */
    text-align: left;
}

.footer-logo img {
    height: 23px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

    }
    .footer-newsletter {
       width:100%;
       margin-bottom: 1rem;
       
    }
    .footer-links {
        width: 100%;
        display: flex;
        justify-content:flex-start;
        gap: 15rem;
        margin-top: 0;     
    }
   
    .footer-logo {
    text-align: left;
    margin-top: 2rem;
    }
  }

  @media (max-width: 480px) {
    .footer-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 0; 
    }
    .footer-links h2 {
        margin-top: 0; 
    }
    .footer-logo {
        margin-top: 2rem;
    }
    .footer-logo img {
        height: 20px;
    }
   
    .footer-form input {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .footer-form button {
        max-width: 100%;
        margin-right: 0;
    }
}
       


    
      
    
